.super-mario {
    width: 300px;
}

.goomba {
    width: 300px;
    position: block;
}

.baloon {
    width: 300px;
    position: absolute;
    top: 1200px;
    right: 390px;
    z-index: 2;
}

.bowser {
    width: 300px;
    position: absolute;
    left: 220px;
    top: 1200px;
    z-index: 1;
}

.word {
    position: absolute;
    top: 1250px;
    left: 70px;
    z-index: 3;
}

.goomba, .bowser, .super-mario {
    margin: 50px;
}