.sites h1, p{
    text-align: center;
}

.sites li:hover {
    background-color: gold;
}
.sites li:active {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}